body { 
    background-color: black; 
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: large;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container {
    display: grid;
    grid-template: 
        'header header'
        'left right';
    grid-gap: 1em;
}
#header {
    grid-area: header;
    padding: 1em;
}
.calculate {
    grid-area: left;
}
.add {
    grid-area: right;
    height: 370px;
}

.box {
    padding: 20px;
    min-height: 100px;
    background: rgba(36, 37, 42, 0.5);
    border-radius: 10px;
    margin: 10px;
}

#add_planets {
    display: flex;
    flex-direction: column;
}
#add_planets > div {
    display: flex;
}
#add_planets > div > label {
    flex: 1;
    padding: 10px;
    margin: 5px
}
#add_planets > div > input {
    flex: 1;
}

#planets {
    display: flex;
    flex-direction: column;
}
#planets > div {
    display: flex;
}
#planets > div > label, 
#planets > div > select {
    flex: 1;
    padding: 10px;
    margin: 5px
}

#planets_date {
    display: flex;
}
#planets_date > select {
    flex: 20%;
}

#result-text {
    font-weight: bold;
    background: rgba(36, 37, 42, 1);
    padding: 1em;
}
.added {
    background: rgba(1, 152, 117, 1);
    padding: 10px;
    border-radius: 10px;
}